.navbar:hover {
    background-color: #F2F2F2;
    color: #262626;
}


.navbar:hover .logo {
    color: #1e3a8a;

}

.navbarScroll {
    background-color: #F2F2F2;
    color: #262626;
}

.navbarScroll .logo {

    color: #1e3a8a;
}