/* style.css */
.heroNavs {
    height: 10vh;
}

@media (max-width: 1024px) and (min-width: 601px) {
    .heroNavs {
            height: 18vh;
    }
}

@media (max-width: 600px) {
    .heroNavs {
        height: 20vh;
    }
}